nav {
  height: 5%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding-left: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  list-style: none;
}

nav ul li {
  min-width: fit-content;
  min-height: 3.4rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: rgba(124, 124, 124, 0.3);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

nav ul li:hover {
  background-color: rgba(124, 124, 124, 0.5);
}

nav::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}